In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [6]:
list(range(10,4,-1))

[10, 9, 8, 7, 6, 5]

In [21]:
list1 = [1,3,4,5,6,3]
list2 = []
for value in list1:
    list2.append(value + 2)
print(list2)

[3, 5, 6, 7, 8, 5]

In [13]:
list2

[3, 5, 6, 7, 8, 5]

In [25]:
list1 = [1,3,4,5,6,3]
list2 = []
for value in range(len(list1)):
    list2.append(list1[value] + 2)
print(list2)

[3, 5, 6, 7, 8, 5]

In [27]:
list1 = [1,3,4,5,"jp",6,3,22,35]
list2 = []
sum = 0
for value in range(len(list1)):
    if list1[value] >= 10:
        sum = sum + list1[value]
print(sum)

57

In [28]:
list1 = [1,3,4,5,"jp",6,3,22,35]
list2 = []
newstr = ""
for value in range(len(list1)):
    if list1[value] ==str:
        newstr = newstr + list1[value]
    else:
        newstr = newstr + str(list1[value])
print(newstr)

1345jp632235

In [ ]:
s = "kp"

In [31]:
d = 10
s = 0
i = 1

while d >=i:
    s = s + d
    d = d - 1
print(s)

55

In [32]:
s

55

In [35]:
for value in "Jishnu":
    if value == "n":
        break
    else:
        print(value)

J
i
s
h

In [36]:
a = input()
l = [1,2,3,4,5,6,8]
m = []
for value in l:
    if value == int(a):
        m.append(value)

4

In [37]:
m

[4]