In [1]:
name = "Jishnu"

In [2]:
name

'Jishnu'

In [3]:
[1,2,3,5]* 4

[1, 2, 3, 5, 1, 2, 3, 5, 1, 2, 3, 5, 1, 2, 3, 5]

In [4]:
name.capitalize()

'Jishnu'

In [5]:
name.upper()

'JISHNU'

In [6]:
name

'Jishnu'

In [7]:
name.lower()

'jishnu'

In [8]:
name.split()

['Jishnu']

In [112]:
s = "my name is Jishnu"

In [10]:
s.split()

['my', 'name', 'is', 'Jishnu']

In [113]:
s.split("n")

['my ', 'ame is Jish', 'u']

In [18]:
s.partition(" ")

('my', ' ', 'name is Jishnu')

In [17]:
type(s.partition(" "))

tuple

In [22]:
s.find("z")

-1

In [29]:
name.center(9,"#")

'##Jishnu#'

In [30]:
name

'Jishnu'

In [31]:
"Jishnu\t".expandtabs()

'Jishnu  '

In [35]:
first_name = input("Enter your first name ")
last_name = input("Enter your last name ")

print("my name is {} {}".format(first_name,last_name,"Hi"))

Enter your first name JISHNU
Enter your last name PRASAD
my name is JISHNU PRASAD

In [52]:
s = "qweqwehfdsk"

In [53]:
s.isalnum()

True

In [54]:
s.title()

'Qweqwehfdsk'

In [55]:
s.istitle()

False

In [56]:
s

'qweqwehfdsk'

In [58]:
s.endswith("k")

True

In [59]:
type(print())

NoneType

In [63]:
a = [1,2,3,5,"JP"]

In [61]:
b = [3,4,5,6,"VP"]

In [64]:
a + b

[1, 2, 3, 5, 'JP', 3, 4, 5, 6, 'VP']

In [66]:
a.append("Jishnu")

In [67]:
a

[1, 2, 3, 5, 'JP', 'Jishnu']

In [69]:
a.insert(3,"Prasad")

In [70]:
a

[1, 2, 3, 'Prasad', 5, 'JP', 'Jishnu']

In [71]:
a.pop()

'Jishnu'

In [72]:
a

[1, 2, 3, 'Prasad', 5, 'JP']

In [73]:
a.pop(2)

3

In [74]:
a

[1, 2, 'Prasad', 5, 'JP']

In [75]:
a.reverse()

In [76]:
a

['JP', 5, 'Prasad', 2, 1]

In [77]:
a[::-1]

[1, 2, 'Prasad', 5, 'JP']

In [80]:
a = [3,5,2,2,6,23,62,23]

In [81]:
a.sort()

In [82]:
a

[2, 2, 3, 5, 6, 23, 23, 62]

In [83]:
a.sort(reverse = True)

In [84]:
a

[62, 23, 23, 6, 5, 3, 2, 2]

In [85]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [4,3,3,2]

In [86]:
d = [a,b,c]

In [87]:
d

[[1, 2, 3, 4], [5, 6, 7, 8], [4, 3, 3, 2]]

In [88]:
d[1]

[5, 6, 7, 8]

In [90]:
d[-1][::2]

[4, 3]

In [91]:
d.reverse()

In [92]:
d

[[4, 3, 3, 2], [5, 6, 7, 8], [1, 2, 3, 4]]

In [95]:
d[0].reverse()

In [96]:
d

[[4, 3, 3, 2], [5, 6, 7, 8], [1, 2, 3, 4]]

In [97]:
m = []
for value in d:
    value.reverse()
    m.append(value)

In [98]:
m

[[2, 3, 3, 4], [8, 7, 6, 5], [4, 3, 2, 1]]

In [99]:
m

[[2, 3, 3, 4], [8, 7, 6, 5], [4, 3, 2, 1]]

In [102]:
n = []
for value in m:
    n.append(value[2]*2)

In [103]:
n

[6, 12, 4]

In [105]:
[val[2]*2 for val in m] #list comprehension

[6, 12, 4]

In [106]:
g = [3,22,234,24,21]

In [107]:
n.extend(g)

In [108]:
n

[6, 12, 4, 3, 22, 234, 24, 21]

In [109]:
n.remove(22)

In [110]:
n

[6, 12, 4, 3, 234, 24, 21]