In [1]:
l = [1,2,34,5,"JJP"]

In [2]:
l

[1, 2, 34, 5, 'JJP']

In [8]:
t = (2,34,5,6,7,3,4,5,4,5,4,4,5,6)

In [4]:
t

(2, 34, 5, 6, 7, 3)

In [5]:
max(t)

34

In [6]:
min(t)

2

In [7]:
t

(2, 34, 5, 6, 7, 3)

In [9]:
t[-1]

6

In [10]:
t

(2, 34, 5, 6, 7, 3, 4, 5, 4, 5, 4, 4, 5, 6)

In [11]:
t[::-1]

(6, 5, 4, 4, 5, 4, 5, 4, 3, 7, 6, 5, 34, 2)

In [12]:
t.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [13]:
l.reverse()

In [14]:
l

['JJP', 5, 34, 2, 1]

In [15]:
len(t)

14

In [16]:
l[0] = "Prasad"

In [17]:
l

['Prasad', 5, 34, 2, 1]

In [21]:
for val in range(len(t)):
    print(t[val])

2
34
5
6
7
3
4
5
4
5
4
4
5
6

In [22]:
t.count(4)

4

In [23]:
t.index(4)

6

In [25]:
t1 = (4,2,2,2,252,6,26)

In [26]:
t + t1

(2, 34, 5, 6, 7, 3, 4, 5, 4, 5, 4, 4, 5, 6, 4, 2, 2, 2, 252, 6, 26)

In [27]:
t

(2, 34, 5, 6, 7, 3, 4, 5, 4, 5, 4, 4, 5, 6)

In [28]:
t1

(4, 2, 2, 2, 252, 6, 26)

In [30]:
list(t1).insert(2,"RAUL")

In [34]:
l = list(t1)

In [35]:
l.insert(2,"RAUL")

In [38]:
t1 = tuple(l)

In [39]:
t1

(4, 2, 'RAUL', 2, 2, 252, 6, 26)

In [45]:
#set -> stores unique set of items(value)

In [48]:
s = set([2,3,4,34,34,2,4,2,42,324,2,2,34,3,4])

In [46]:
s

{2, 3, 4, 34, 42, 324}

In [50]:
for val in s:
    print(val)

2
3
4
34
324
42

In [52]:
b = {}

In [53]:
type(b)

dict

In [54]:
a = {2}

In [55]:
type(a)

set

In [57]:
a.add("jp")

In [58]:
a

{2, 'jp'}

In [59]:
a.pop()

2

In [60]:
a

{'jp'}

In [61]:
a = {1,2,3,4,2,2,3,4,2}

In [63]:
a.add(6)

In [64]:
a

{1, 2, 3, 4, 6}

In [65]:
#dictionary -> stores data in key value pairs

In [72]:
d = {"name":"Jishnu", "surname":"Prasad","name":"Vishnu","#":"a"}

In [73]:
d

{'name': 'Vishnu', 'surname': 'Prasad', '#': 'a'}

In [91]:
d2 = {"name":"Jishnu", "surname":"Prasad","l1":[1,2,3,4,5], "t1":(3,4,6,2), "d3":{1:2,3:3,4:"asdf"}}

In [80]:
d2["l1"][0]

1

In [83]:
d2["d3"][4]

'asdf'

In [85]:
for val in d2:
    print(d2[val])

Jishnu
Prasad
[1, 2, 3, 4, 5]
{1: 2, 3: 3, 4: 'asdf'}

In [86]:
d2.keys()

dict_keys(['name', 'surname', 'l1', 'd3'])

In [87]:
for val in d2.keys():
    print(d2[val])

Jishnu
Prasad
[1, 2, 3, 4, 5]
{1: 2, 3: 3, 4: 'asdf'}

In [88]:
d2.values()

dict_values(['Jishnu', 'Prasad', [1, 2, 3, 4, 5], {1: 2, 3: 3, 4: 'asdf'}])

In [94]:

for val in d2.values():
    print(val)

Jishnu
Prasad
[1, 2, 3, 4, 5]
(3, 4, 6, 2)
{1: 2, 3: 3, 4: 'asdf'}

In [95]:
d2

{'name': 'Jishnu',
 'surname': 'Prasad',
 'l1': [1, 2, 3, 4, 5],
 't1': (3, 4, 6, 2),
 'd3': {1: 2, 3: 3, 4: 'asdf'}}

In [98]:

for val in d2.values():
    if type(val)== tuple:
        l1 = list(val)

In [99]:
l1

[3, 4, 6, 2]

In [100]:
d2["k6"] = "JP"

In [101]:
d2

{'name': 'Jishnu',
 'surname': 'Prasad',
 'l1': [1, 2, 3, 4, 5],
 't1': (3, 4, 6, 2),
 'd3': {1: 2, 3: 3, 4: 'asdf'},
 'k6': 'JP'}

In [102]:
d2["k6"] = "Raul"

In [103]:
d2

{'name': 'Jishnu',
 'surname': 'Prasad',
 'l1': [1, 2, 3, 4, 5],
 't1': (3, 4, 6, 2),
 'd3': {1: 2, 3: 3, 4: 'asdf'},
 'k6': 'Raul'}

In [108]:
d4 = {}
for key in range(1,11):
    d4[key] = key**2

In [109]:
d4

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [110]:
l = ["jishnu",'vishnu','usha']
d = {}
for val in l:
    d[val] = val.upper()

In [111]:
d

{'jishnu': 'JISHNU', 'vishnu': 'VISHNU', 'usha': 'USHA'}

In [112]:
l = ["jishnu",'vishnu','USHA']
d = {}
for val in l:
    d[val] = val.isupper()

In [113]:
d

{'jishnu': False, 'vishnu': False, 'USHA': True}

In [118]:
# dictionary comprehension
l = ["jishnu",'vishnu','USHA']

{val:val.upper() for val in l}

{'jishnu': 'JISHNU', 'vishnu': 'VISHNU', 'USHA': 'USHA'}

In [120]:
[val**2 for val in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [131]:
a = d.items()

In [133]:
a

dict_items([('jishnu', False), ('vishnu', False), ('USHA', True)])

In [134]:
#function -> It is set of reusable code to perform a single action.
def test():
    print("hello")

In [135]:
test()

hello

In [136]:
def test2():
    pass

In [137]:
test2()

In [138]:
def test3():
    a = 10
    b = 20
    return a+b

In [140]:
res = test3()

In [141]:
res

30

In [146]:
def test4(a,b):
    return a + b

In [148]:
test4(10, 20)

30

In [149]:
def test5(a,b):
    return a - b, a + b, a*b

In [156]:
a,b,_= test5(10,23)

In [153]:
a

-13

In [154]:
b

33

In [157]:
_

230