In [1]:
print("thing is my first Python program")

thing is my first Python program

In [2]:
#First Program in python

In [3]:
""" 
a
v
v
v
as
aga
"""

' \na\nv\nv\nv\nas\naga\n'

In [4]:
a = 10

In [5]:
a

10

In [6]:
a = 25

In [7]:
name, age = "Jishnu", 25

In [8]:
name

'Jishnu'

In [9]:
age

25

In [10]:
True/False

ZeroDivisionError: division by zero

In [11]:
type(name)

str

In [12]:
True

True

In [13]:
num = 45 + 6j

In [14]:
type(num)

complex

In [15]:
n.real

NameError: name 'n' is not defined

In [16]:
num.real

45.0

In [17]:
1 + "a"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
"a"*"a"

TypeError: can't multiply sequence by non-int of type 'str'

In [20]:
a = int(input("Enter an integer"))
b = int(input("Enter an integer"))
c = int(input("Enter an integer"))

o = (a + b)/c

com1 = 4 + 3j
res1 = complex(o) + com1
out = str(res1) + " Jishnu"

Enter an integer1
Enter an integer3
Enter an integer2

In [21]:
out

'(6+3j) Jishnu'

In [22]:
out

'(6+3j) Jishnu'