In [7]:
t1 = (2,4,5,2,2,3,33,4,3,3,4,2)

In [2]:
max(t1)

5

In [4]:
t1.index(5)

2

In [8]:
t1.count(2)

4

In [12]:
l1 = list(t1)

In [10]:
t2 = 56

In [13]:
l1.insert(3,t2)

In [14]:
l1

[2, 4, 5, 56, 2, 2, 3, 33, 4, 3, 3, 4, 2]

In [15]:
t1 = tuple(l1)

In [16]:
t1

(2, 4, 5, 56, 2, 2, 3, 33, 4, 3, 3, 4, 2)

In [17]:
for val in t1:
    print(val)

2
4
5
56
2
2
3
33
4
3
3
4
2

In [20]:
t2 = ((2,3,4),4,5,66,(4,4,6),(6,7,8),[2,3,6])

In [21]:
for val in t2:
    if type(val)==tuple:
        print(val[0])

2
4
6

In [22]:
if len(t1)==len(t2):
    print("same")
else:
    print("not same")

not same

In [23]:
t1

(2, 4, 5, 56, 2, 2, 3, 33, 4, 3, 3, 4, 2)

In [27]:
initials = input("enter your initials")

if initials in t1:
    print("initals available")
else:
    print("initals not available")

enter your initialsjfh
initals not available

In [28]:
l = (2,3,2,2,3,5,6,66,6,4,2)

In [30]:
s = set(l)

In [32]:
s

{2, 3, 4, 5, 6, 66}

In [ ]:
s.